<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Productos</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  <form action="/api/carts/{{cartId}}" method="POST">
    {{#each productos}}
      <div>
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p>Precio: {{price}}</p>
        <p>Categoría: {{category}}</p>
        <input type="checkbox" name="selectedProducts" value="{{_id}}"> Agregar al Carrito
      </div>
    {{/each}}
    <button type="submit">Agregar Productos al Carrito</button>
  </form>

  <a href="/">Home Page</a>
</body>
</html>
